name: Build and Deploy to Minikube

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set Execution Policy
      run: Set-ExecutionPolicy -Scope Process -ExecutionPolicy Bypass
      shell: powershell

    - name: Build Docker Image
      run: docker build -t test:latest .
      shell: powershell


    - name: Apply Kubernetes manifests
      run: |
        kubectl apply -f k8s/deployment.yml
        kubectl apply -f k8s/service.yml
        kubectl rollout status deployment/test
